body, html {
  background-image: url(https://wallpaperscraft.com/image/vintage_black_light_shadow_9652_2560x1600.jpg);
}

.jumbotron {
  text-align: right;
  font-family: 'Shadows Into Light', cursive;
}

.jumbotron h1, .well h2 {
  color: #660000;
}

.projects h2 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 36pt;
}

.pic {
  float: left;
  border-radius: 8px;
}

#aboutme {
  padding-left: 15px;
  padding-right: 15px;
}

#hemingway {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 15pt;
}

.about, #contact {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 36pt;
}

.projects {
  padding: 15px;
}

ul {
  list-style-type: none;
}

.icon li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
}

.icon {
  text-align: center;
}

#widgetbackground {
  background-color: rgba(245, 245, 245, 0.1);
  border: none;
}

#widgetbackground h2 {
  color: tomato;
}
/*font-family quick reference
font-family: 'Shadows Into Light', cursive;
font-family: 'Ubuntu Condensed', sans-serif;
*/
