body, html {
  background-image: url(https://wallpaperscraft.com/image/vintage_black_light_shadow_9652_2560x1600.jpg);
}

.jumbotron {
  text-align: right;
  font-family: 'Shadows Into Light', cursive;
}

.jumbotron h1, .well h2 {
  color: #660000;
}

.pic {
  float: left;
  border-radius: 8px;
}

.about {
  padding-left: 10px;
}

.projects {
  padding: 15px;
}

ul {
  list-style-type: none;
}

/*font-family quick reference
font-family: 'Shadows Into Light', cursive;
font-family: 'Ubuntu Condensed', sans-serif;
*/
