/*
html {
  background: url(https://media.giphy.com/media/q0YjVPeiOdoK4/giphy.gif)no-repeat center center fixed;
  background-size: cover;
}
*/

body, html {
  background-image: url(https://wallpaperscraft.com/image/vintage_black_light_shadow_9652_2560x1600.jpg);
}

.jumbotron {
  text-align: right;
}

.pic {
  float: left;
  border-radius: 8px;
}

.about {
  padding-left: 10px;
}

.projects {
  padding: 15px;
}

#bootstrap-override h1, h2 {
  font-color: (64, 0, 0)
}

ul {
  list-style-type: none;
}
